.background {
    width: 100%;
    height: 100%;
    background-image: url(../assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-filtro {
    background-color: rgba(21, 77, 114, 0.856);
    height: 100%;
    width: 100%;
}
.login-section {
    background-color :rgba(204, 204, 204, 0.753);
    min-height: 50vh;
    min-width: 20vw;
}
.resposta {
    height: 175px;
}