.background {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-filtro {
    background-color: rgba(21, 77, 114, 0.856);
    height: 100%;
    width: 100%;
}
.login-section {
    background-color :rgba(204, 204, 204, 0.753);
    min-height: 50vh;
    min-width: 20vw;
}
.resposta {
    height: 175px;
}
.mailing{
    width: 40vw;

}
.mailing-estado {
    width: 20vw;
}
.botao {
    width: 5vw;
    
}

.navbar-nav{
    background-color: #138496
}

.view-body{
    background-color: #d1d1d1;
    margin-top: 3.3rem;
    min-height: 93vh;
}
.view-navVertical {
    min-height: 44vw;
    width: 13vw !important;
    background-color: #2a3141;
}
.view-navVertical__list{
    position: sticky;
    top: 75px;
    left: 0rem;
    width: 100vw;
    margin-top: 15px
    /* right: 87rem; */
}
.view-navVertical__bg {
    background-color: #2a3140;
    /* border-top: 1px solid  #475064;
    border-bottom: 1px solid  #475064; */
}
.view-navVertical__bg:hover {
    background-color: #394052;
    text-decoration: none;
}

.view-navVertical__bg::after{
    color:#138496;
}
.view_navVertical__render{
    width: 87vw;
    /* margin-left: 13vw; */
}
.relatorio-page__filter{
    width: 7vw;
    height: 5vh;
}
.relatorio-page__img {
    width: 2vw;
    height: auto;
}
.relatorio-input {
    width: 10vw;
}
.relatorio-page__button{
    display: flex;
    justify-content: flex-end
}

.enriquecer{
    height: 80vh;
}
.load{
    width: 1.5rem;
}
.input-consulta{
    border-radius: 0;
}
.button-border{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 36px;
}
.mailing-div{
    height: 
    20vh;
}
.mailing-div button{
    height:10vh
}