.nav {
    .nav-horizontal {
        height: 10vh;
    }
    .nav-width {
        width: 35vw;
    }
}
.table {
    .table-relatorio {
        width: 85vw
    }
    .table-data {
        width: 50vw;
        height: 60vh;
    }
}
.title_form {
    background-color: #485470;
    padding: 1% 5%;
    margin-top: -47px;
    margin-left: 35px;
    position: absolute;
    border-radius: 5px;
}
.consulta {
    background-color: #202739;
}
.consulta-body {
    width: 80vw;
    min-height: 100%;
}
.consulta-container {
    width: 85vw;
    min-height: 80vh;
}
.btn-green {
    background-color: rgb(192, 248, 192)
}
.planilha {
    background-color: rgb(255, 255, 255)
}
// .bg-planilha {
//     background-color: #a0a09f34;
//     border: 1px solid #c4c2c234
// }
// .inputPersonalizado {
//     content: "Buscar Arquivo"
// }
// .enriquecer-page {
//     width: 68vw;
// }
.enriquecer-progresso {
    width: 30vw;
}
.enriquecer-info li {
    list-style: none;
}
.enriquecer-info__list {
    font-size: 14px
}
.sombra{
    box-shadow: -5px 5px 10px rgba(50, 50, 50, 0.507);

}
.view-navVertical__tooltips{
    width: 10vw;
}
.panel{
    margin-left: 0;
    margin-right: 0;
}

.panel-div{
    height: 15vh;
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 10px #2a314179;
}
.panel-div__second{
    height: 30vh;
    padding: 0;
    box-shadow: 3px 3px 10px #2a314179;
    height: 50vh;
}
.panel-text img{
    width: 15vw;
    padding-top: 1rem;
}
.bg-panel{
    width: 5vw;
    height: 10vh;
}
.bg-panel img {
    width: 2vw;
}
.canvas {
    width: 40vw;
    height: auto;
}

.spinner img{
    height: 15vh;

}
.dica {
    top: 2rem;
    right: 1rem
}
.dica:hover .dica-texto{
    visibility: visible;
}
.dica-img {
    width: 2vw;
    height: 5vh;
}
.dica-texto{
    z-index: 999;
    visibility: hidden;
    width: 25vw; 
    right: 3rem;
    top: 10%
}
.loadButton{
    width: 1.5vw;
}
.input-select{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mailing-div__local{
    height: 12vh;
}
.bg-salmon{
    background-color: rgb(253, 227, 166)
}

.box-select{
    height: 16vh;
}

.dashboard-title{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
    z-index: 1;
    top: 6rem;
    left: 17rem;
    position: absolute;
}
.dashboard-grafic{
    height: 40vh;
}

.collapseImage {
    width: 1.5vw;
    height: 2.5vh;
}

.card-relacionadas {
    padding: 10px 0;
}

.card-relacionadas td {
    font-size: 14px;
}

.card-relacionadas__first {
    width: 25vw;
}