.nav-vertical {
    height: 100vh;
    width: 220px !important;
    background-color: #2a3141;
}
.bg-marine {
    background-color: #2a3141;
    /* border-top: 1px solid  #475064;
    border-bottom: 1px solid  #475064; */
}
.bg-marine:hover {
    background-color: #394052;
    text-decoration: none
}
.nav-horizontal {
    height: 10vh;
}
/* .table-data {
    width: 50vw;
    height: 50vh;
   
}

.nav-width {
    width: 35vw;
    
    
} */

.planilha-width {
    width: 30vw;
    height: 50vh;

}

.consulta {
    background-color: #202739;
    width: 23vw;
    height: 82vh;
}
.title_form {
    background-color: #485470;
    padding: 1% 5%;
    margin-top: -47px;
    margin-left: 35px;
    position: absolute;
    border-radius: 5px;
}

.form-width {
    width: 84vw;
    min-height: 100%;

}

.div-width1 {
    width: 85vw;
    min-height: 100vh;
}
.btn-green {
    background-color: rgb(192, 248, 192)
}
.relatorio {
    min-height: 100vh;
    width: 100vw;
  
}
.table-relatorio {
    width: 85vw
}
